torch
torchaudio
torchmetrics
torchsde
torchvision
accelerate
einops
huggingface-hub
matplotlib
numpy
opencv-python
opencv-python-headless
peft
pillow
diffusers
safetensors
sentencepiece
transformers
pytorch-lightning
imageio
imageio-ffmpeg
protobuf
ftfy
pandas
tqdm
datasets
modelscope
